
  body {
    background: #fff;
    font: 14px 'Open Sans', 'tahoma', verdana, arial, sans-serif;
    color: #333;
  
}
html {
    height: 100%;
    width: 100%;
}
* {
    margin: 0px;
    padding: 0px;
box-sizing: border-box;
    }
#wrapper {
	width: 90%;
	margin: 0px auto;
	margin-top: 150px;
}
  header {
  width: 100%;
  height: 150px;
  background: gray;
  position: absolute;
  right: 0px;
  top: 0px;
  }
  header>div {
    width: 900px;
	margin: 0px auto;
	position: relative;
  }
  hgroup {
  position: absolute;
  left: 3%;
  top: 40px;
  color: red;
  }
  hgroup h1 {
  padding-bottom: 15%;
  }
  figure {
  position: absolute;
  left: 25%;
  top: 20px;
  }
  section {
  width: 50%;
  float: left;
  }
  section P {
  margin-right: 5%;
  }
 .contacts {
   width: 40%;
 position: absolute;
  top:2%;
  right: 0%;
 }
 .contact-type {
 float: left;
 width: 30%;
 color: white;
 background: red;
padding: 0px 2px;
}
 .contact-value {
 float: left;
 width: 70%;
 background: black;
 padding-left: 5px;
 }
 .contact-value a {
  color:red;
 text-decoration: none;
 }
 .contact-skype dd {
color: black;
 }
 .content {
 padding: 5% 0%;
 }
 .content h3 {
 border-bottom: 1px solid lightgray;
 padding:2% 0% ;
 }
.content p {
padding-top: 2%;
}
.skills {
padding-top: 2%;
}
 h3::before {
 content: " ";
 width: 15px;
 height: 15px;
 border-radius: 7.5px;
 display: inline-block;
 margin-right: 3px;
 background: red;
 }
.skills-secondary {
 margin-top: 10px;
 }
  .skills-primary::before {
   content: "Main";
   display: block;
   font-size: 16px;
   }
   .skills-secondary::before {
   content: "Other";
   display: block;
   font-size: 16px;
   }
 #competencies div {  
margin-bottom: 5px;
 }
 
 .skill {
  background: gray;
  height: 30px;
  }
 .skills-primary span {
 background: red;
 display: inline-block;
height: 20px;
margin: 4px;
 }
 .skills-secondary span {
 background:rgb(232, 55, 55);
 display: inline-block;
height: 20px;
margin: 4px;
 }
 div[data-skill='5'] span {
 width: 50%;
 }
  div[data-skill='3'] span {
 width: 30%;
 }
  div[data-skill='1'] span {
 width: 6%;
 }
  div[data-skill='9'] span {
 width: 85%;
 }
  div[data-skill='7'] span {
 width: 70%;
 }
  .experiences {
   width: 50%;
   }
 #experiences h3 {
 border-bottom: 1px solid lightgray;
 }
 .education h3 {
 padding-top: 2px;
 }
  
  #experiences h4 {
  color: rgb(232, 55, 55);
  margin-top: 10px;
  }
 .experience-type::after {
 content:" @";
 }
 .experience-location::before {
 content:"In";
 }
 .experience-location::after {
 content:"on";
 }
  .experience-details {
  color: lightgray;
  padding-left: 7px;
  }
  .experience-date-separator {
  color: rgb(232, 55, 55);
  }
  .experience-description {
  margin-top: 10px;
  }
  #education h4 {
  color: rgb(232, 55, 55);
  margin-top: 10px;
  }
  #hobbies {
  clear: both;
  margin-bottom: 10%;
  }
  #hobbies h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  }
  #hobbies ul {
  margin: 10px 0px 0px 30px;
  }
  #contact h3 {
  visibility: hidden;
  }
  @media only screen and (max-width:700px){
    body { 
      width: 100%;
    }
    #wrapper{
      width:100%;
      padding:0 10%;
    }
      header {
      height: 250px;
      background: gray;
      margin-bottom: 40px;
      }
      section {
        width: 80%;
      }
      hgroup {
        position: static;
        padding: 2% 0% 0% 10%; 
       }
      hgroup h1{
        padding-bottom: 2%; 
      }
      figure{
        position: static;
        padding: 1% 0% 0% 11%;
      }
      #about {
        margin-top: 150px;
        padding: 0%;
      }
      #about h3 {
        width: 100%;
      }
     #contact {
       display: none;
     }
     .content p{
     padding: 2% 0%;
     }    
   
     .experience:nth-last-of-type(2n){
       display: none;
     }
     #education {
     display: none;
     }
      #hobbies {
        display: none;
      }
  }
